<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Philosophers BIO</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <h1>Philosophers BIO</h1>

    <ul class="philosophers">
      <% for (let i = 0; i < info.length; i++) { %>
      <li class="philosopher">
        <span> <%= info[i].philosopherName %> </span>
        <span> <%= info[i].birthPlace %> </span>
        <span> <%= info[i].likes %> </span>
        <span class="fa fa-thumbs-up"> </span>
        <span class="fa fa-trash"> </span>
      </li>
      <% } %>
    </ul>

    <h2>Add a Philosopher</h2>

    <form action="/addPhilosopher" method="post">
      <input
        type="text"
        placeholder="Philosopher Name"
        name="philosopherName"
      />
      <input type="text" placeholder="Birth Place" name="birthPlace" />
      <input type="submit" />
    </form>

    <script src="js/main.js"></script>
  </body>
</html>
